{% extends "base.html" %}
{% load static %}

{% block contenido %}
<h1 class="h3 mb-3"><strong>Registro</strong> de nuevo cliente</h1>

<p class="text-danger fw-bold">{{mensaje}}</p>

<div class="row">

	<form action="{% url 'registroCliente' %}" method="POST">
	{% csrf_token %} 

	<div class="col-12 col-lg-12 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0">Datos del cliente</h5>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Nombre</label>
				<input type="text" name="txtNombre" minlength="5" maxlength="50" class="form-control" placeholder="Nombre del cliente" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">RUT</label>
				<input type="text" name="txtRUT" minlength="11" maxlength="12" class="form-control" placeholder="12.345.678-0" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Direccion</label>
				<input type="text" name="txtDireccion" minlength="10" maxlength="50" class="form-control" placeholder="Dirección del cliente" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Teléfono</label>
				<input type="text" name="txtTelefono" minlength="13" maxlength="13" class="form-control" placeholder="569 1234 1234" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Comuna</label>
				<select class="form-select" name="selComuna" required>
					
					{% for reg in comunas %}
					<option>{{reg.nombre}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-12 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0">Datos del servicio</h5>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Servicio contratado</label>
				<select class="form-select" name="selServicio" required>
					<option>TV</option>
					<option>Internet</option>
					<option>Telefonía</option>
					<option>TV + Internet</option>
					<option>TV + Telefonía</option>
					<option>TV + Internet + Telefonía</option>
					<option>Otro</option>
				</select>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Tecnología servicio</label>
				<select class="form-select" name="selTecnologia" required>
					<option>DTH</option>
					<option>BAFI</option>
					<option>TFI</option>
					<option>HFC</option>
					<option>DTH + TFI</option>
					<option>DTH + BAFI</option>
					<option>Otro</option>
				</select>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Plan contratado</label>
				<select class="form-select" name="selPlan" required>
					<option>Pro HD</option>
					<option>Pro HD Más</option>
					<option>Pro HD Fútbol</option>
					<option>BAFI 50 GB</option>
					<option>BAFI 100 GB</option>
					<option>TFI 300 MINUTOS</option>
					<option>Pro HD + BAFI 50 GB</option>
					<option>Pro HD + BAFI 100 GB</option>
					<option>Pro HD + TFI 300 MINUTOS</option>
					<option>Pro HD Más + BAFI 50 GB</option>
					<option>Pro HD Más + BAFI 100 GB</option>
					<option>Pro HD Más + TFI 300 MINUTOS</option>
					<option>Pro HD Fútbol + BAFI 50 GB</option>
					<option>Pro HD Fútbol + BAFI 100 GB</option>
					<option>Pro HD Fútbol + TFI 300 MINUTOS</option>
					<option>Otro</option>
				</select>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Cantidad decodificadores</label>
				<select class="form-select" name="selDecos" required>
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-12 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0">Datos de la instalación</h5>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Fecha instalación</label>
				<input type="date" name="inpFecha" class="form-control" placeholder="Fecha de instalación" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Costo instalación</label>
				<input type="number" name="txtCostoInst" minlength="5" maxlength="5" class="form-control" placeholder="00000" required>
			</div>
			<div class="me-4 ms-4 mb-3">
				<label class="form-label">Estado de la instalación</label required>
				<select class="form-select" name="selEstado">
					<option>Pendiente</option>
					<option>Instalado</option>
					<option>Otro</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-12 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0">Comentarios</h5>
			</div>
			<div class="me-4 ms-4 mb-3">
				<textarea class="form-control" name="txtComentarios" maxlength="300" rows="2" placeholder="Comentarios y observaciones"></textarea>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div>
						<div class="text-center mb-3 me-1 d-inline">
							<button type="submit" class="btn btn-lg btn-success"><i data-feather="save"></i> Registrar</button>
						</div>
						<div class="text-center mb-3 d-inline">
							<button type="reset" class="btn btn-lg btn-danger"><i data-feather="trash"></i> Limpiar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</form>
</div>
{% endblock contenido %}